#(@)metrics
#
# Each line must have three space-delimited fields:
#
# 1. METRIC name which is what collectd gets
# 2. TYPE from the collectd types.db (left column)
# 3. TOPIC as subscribed to your MQTT broker
#
# The last field may contain spaces. White space at EOL is chopped off.
# Inline comments are not allowed.

temp.living             	gauge	arduino/temp/celsius	

bROKER.UPTIme			uptime	$SYS/broker/uptime				  	
clients.inactive		gauge	$SYS/broker/clients/inactive			
clients.active			gauge	$SYS/broker/clients/active			
clients.connected		gauge	$SYS/broker/clients/connected			
clients.disconnected		gauge	$SYS/broker/clients/disconnected			
msgs.stored			gauge	$SYS/broker/messages/stored			
heap.max			gauge	$SYS/broker/heap/maximum			
msgs.received			gauge	$SYS/broker/publish/messages/received		
broker.msgs.rec.5m		gauge	$SYS/broker/load/messages/received/5min	
connections.1m			gauge	       $SYS/broker/load/connections/1min		

